<div id="tabs" style="display:none">
	<ul>
		<li><%=link_to "Movimentações", "#aba_movimentacoes"%></li>
		<li><%=link_to "Reservas", "#aba_reservas"%></li>
		<li><%=link_to "Contas", "#aba_contas"%></li>
		<li><%=link_to "Categorias", "#aba_categorias"%></li>
	</ul>
	<div id="aba_movimentacoes">
		<div id="movimentacao">
			<%= form_for(@movimentacao, :remote => true, id: "{new_movimentacao_index}") do |f| %>
				<%= f.text_field :date, :value => "Hoje", :size => 10, :id => "data_movimentacao" %>
				<%= f.select :tipo, options_for_select(@tipos, :style => "font-size: 20px") %>
				R$
				<%= f.text_field :quantia, size: 15, :autocomplete => :off %>
				<span id="category_field">
				com
				<%= f.collection_select :categoria_id, @categorias, :id, :descricao, include_blank: true %>
				</span>
				<span id="account_fields">
				<span id="account_from_in">na conta</span>
				<%= f.collection_select :conta_id, @contas, :id, :description_owner %>
				</span>
				<span id="transfer_fields" style="display:none">
				para a conta
				<%= f.collection_select :conta_destino_id, @contas, :id, :description_owner, include_blank: true %>
				</span>
				<%= image_tag("plus.png", id: "toggle_comment", style: "cursor:pointer") %>
				<%= f.submit "Incluir", :id => "incluir_movimentacao", disable_with: "Incluindo..." %>
				<div id="comment" style="display:none">
					<%= f.text_area :comment, size: "100x2", placeholder: "Insira um comentário aqui" %>
				</div>
			<% end %>
		</div>
		<div id="movimentacoes">
			<%= render "movimentacoes/movimentacoes", movimentacoes: @movimentacoes %>
		</div>
		<br/>
		<span id="linha_saldo"><%= linha_saldo_user %></span>
		<div id="progress_bars">
			<%= render 'movimentacoes/bars' %>
		</div>
	</div>
	<div id="aba_reservas">
		<div id="reserve">
			<%= form_for(@reserve, :remote => true, id: "{new_reserve_index}") do |f| %>
				Reservei
				R$
				<%= f.text_field :sum, size: 15, :autocomplete => :off %>
				para
				<%= f.text_field :description, :size => 30, :autocomplete => :off %>
				na conta
				<%= f.collection_select :conta_id, @contas, :id, :description_owner %>
				<%= f.submit "Incluir", :id => "add_reserve", disable_with: "Incluindo..." %>
			<% end %>
		</div>
		<div id="reserves">
			<%= render "reserves/reserves" %>
		</div>
	</div>
	<div id="aba_contas">
		<%= render 'contas/contas' %>
	</div>
	<div id="aba_categorias">
		<%= render 'categorias/categorias' %>
	</div>
</div>