<table id="accounts_table" class="rounded_table">
  <% for conta in ContaDecorator.decorate(current_user.contas) %>
    <tr class="<%=cycle('line_odd','line_even')%>">
      <td style="width: 100px"><%= number_to_currency conta.saldo %></td>
      <td><%= conta.description_owner %></td>
      <td style="width:15px"><%= link_to('X', conta, class: "ui-icon ui-icon-circle-close", :method => :delete, :remote => true, :confirm => "Tem certeza que deseja apagar a conta #{conta.descricao}?") %></td>
    </tr>
  
  <% end %>
</table>

<p><%= link_to "Nova conta", new_conta_path %></p>
