<%= form_for @conta do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :saldo %><br />
    <%= f.text_field :saldo %>
  </p>
  <p>
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </p>
  <p><%= f.submit %></p>
<% end %>
