<% title "Conta" %>

<p>
  <strong>Saldo:</strong>
  <%= @conta.saldo %>
</p>
<p>
  <strong>Descricao:</strong>
  <%= @conta.descricao %>
</p>

<p>
  <%= link_to "Edit", edit_conta_path(@conta) %> |
  <%= link_to "Destroy", @conta, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", contas_path %>
</p>
