<%= form_for @movimentacao do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :quantia %><br />
    <%= f.text_field :quantia %>
  </p>
  <p>
    <%= f.label :categoria_id %><br />
    <%= f.number_field :categoria_id %>
  </p>
  <p>
    <%= f.label :conta_id %><br />
    <%= f.number_field :conta_id %>
  </p>
  <p>
    <%= f.label :conta_destino_id %><br />
    <%= f.number_field :conta_destino_id %>
  </p>
  <p>
    <%= f.label :tipo %><br />
    <%= f.text_field :tipo %>
  </p>
  <p><%= f.submit %></p>
<% end %>
