<div id="movimentacao">
	<%= form_for(@movimentacao, :remote => true, id: "{new_movimentacao_index}") do |f| %>
		<%= f.text_field :date, :value => "Hoje", :size => 10, :id => "data_movimentacao" %>
		<%= f.select :tipo, options_for_select(@tipos, :style => "font-size: 20px") %>
		<%= f.number_field :quantia, size: 15 %>
		com
		<%= f.collection_select :categoria_id, @categorias, :id, :descricao %>
		na conta
		<%= f.collection_select :conta_id, @contas, :id, :descricao %>
		<%= f.submit "Incluir", :id => "incluir_movimentacao" %>
	<% end %>
</div>

<div id="movimentacoes">
	<table id="tabela_movimentacoes">
		<% for movimentacao in @movimentacoes %>
			<%= linha_tabela_movimentacao(movimentacao) %>
		<% end %>
	</table>
</div>