<div id="movimentacao">
	<%= form_for(@movimentacao, :remote => true, id: "{new_movimentacao_index}") do |f| %>
		<%= f.text_field :date, :value => "Hoje", :size => 10, :id => "data_movimentacao" %>
		<%= f.select :tipo, options_for_select(@tipos, :style => "font-size: 20px") %>
		<%= f.text_field :quantia, size: 15, :autocomplete => :off %>
		com
		<%= f.collection_select :categoria_id, @categorias, :id, :descricao, include_blank: true %>
		na conta
		<%= f.collection_select :conta_id, @contas, :id, :description_owner %>
		<div id="">
		para a conta
		<%= f.collection_select :conta_destino_id, @contas, :id, :description_owner, include_blank: true %>
		</div>
		<%= f.submit "Incluir", :id => "incluir_movimentacao", disable_with: "Incluindo..." %>
	<% end %>
</div>
<div id="movimentacoes">
	<%= render "movimentacoes", movimentacoes: @movimentacoes %>
</div>
<span id="linha_saldo"><%= linha_saldo_user %></span>